# created by composer
vendor

# created by application
tmp

# created by vagrant
.vagrant

# created by apache
/index.html

# needed for application
private
public/upload
src/Config/parameters.json

# created by codeception
tests/_data/
tests/_output/
tests/_support/_generated
codeception.yml

# created by node
node_modules
npm-debug.log
