# Do not allow to index directory
Options -Indexes

# Set browser caching
<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif)$">
        Header set Cache-Control "max-age=86400, public"
    </FilesMatch>
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "max-age=86400, private"
    </FilesMatch>
    <FilesMatch "\.(ttf|woff|woff2|eot)$">
        Header set Cache-Control "max-age=86400, private"
    </FilesMatch>
</IfModule>

# Redirect to front controller
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to URI without front controller
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^app\.php(?:/(.*)|$) /$1 [R=301,L]

    # If the requested filename exists, simply serve it.
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Rewrite all other queries to the front controller.
    RewriteRule ^ /app.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # When mod_rewrite is not available redirect to the front controller
        RedirectMatch 302 ^/$ /app.php/
    </IfModule>
</IfModule>
