{
    "environment": "",

    "databaseEngine": "",
    "databaseHost": "",
    "databasePort": "",
    "databaseName": "",
    "databaseUser": "",
    "databasePassword": "",

    "inMemoryUsername": "",
    "inMemoryPasswordHash": "",

    "oandaApiUri": "",
    "oandaApiKey": "",
    "oandaAccount": "",

    "forexFactoryUri": "",

    "selectedStrategy": "",

    "instrument": "",
    "homeCurrency": "",
    "singleTransactionRisk": "",
    "rigidStopLoss": "",
    "takeProfitMultiplier": "",
    "lossLockerFactor": "",

    "longFastAverage": "",
    "longSlowAverage": "",
    "signalFastAverage": "",
    "signalSlowAverage": "",

    "bankFactor": "",
    "inflationFactor": "",
    "tradeFactor": "",
    "companiesFactor": "",
    "salesFactor": "",
    "unemploymentFactor": "",
    "bankRelativeFactor": "",

    "extremumRange": "",
    "followTrend": "",

    "lastPricesPeriod": "",
    "lastIndicatorsPeriod": ""
}
