{
    "environment": "",

    "databaseEngine": "",
    "databaseHost": "",
    "databaseName": "",
    "databaseUser": "",
    "databasePassword": "",

    "inMemoryUsername": "",
    "inMemoryPasswordHash": "",

    "oandaApiUri": "",
    "oandaApiKey": "",
    "oandaAccount": "",

    "forexFactoryUri": "",

    "redisScheme": "",
    "redisHost": "",
    "redisPort": "",
    "redisPassword": "",
    "redisMaxTtl": "",

    "memcachedHost": "",
    "memcachedPort": "",
    "memcachedMaxTtl": "",

    "selectedStrategy": "",

    "rigidStopLoss": "",
    "takeProfitMultiplier": "",
    "longFastAverage": "",
    "longSlowAverage": "",
    "extremumRange": "",
    "signalFastAverage": "",
    "signalSlowAverage": "",
    "averageTrend": "",
    "bankFactor": "",
    "inflationFactor": "",
    "tradeFactor": "",
    "companiesFactor": "",
    "salesFactor": "",
    "unemploymentFactor": "",
    "bankRelativeFactor": "",
    "followTrend": "",
    "lastPricesPeriod": "",
    "useCached": "",
    "instrument" ""
}
